
$gap: 6px;   // 间距
$boxHeight: 240px;

.layout-panel {
  max-width: 1440px;
  min-width: 1366px;
  margin: 0 auto;

  .layout-panel-inner {
    margin: -$gap;
  }

  .row {
    box-sizing: border-box;
    .col {

      &.flex1 {
        flex: 1;
      }

      &.flex2 {
        flex: 2;
      }

      .col-inner {
        padding: $gap;
      }

    }
  }

  .box {
    border: 4px solid #cccccc;
    border-radius: 10px;
    background-color: #42b983;
    overflow: hidden;

    &.box1 {
      height: $boxHeight;
    }
    &.box2 {
      height: $boxHeight * 2 + $gap * 2;
    }

    &.box-m-t-10 {
      margin-top: $gap * 2;
    }
  }
}