$color-bg: rgb(33,34,64);

$lv1-padding-top: 5px;
$lv1-padding-right: 5px;
$lv1-padding-bottom: 5px;
$lv1-padding-left: 5px;

$lv2-padding-top: 5px;
$lv3-padding-right: 5px;
$lv4-padding-bottom: 5px;
$lv5-padding-left: 5px;